<header>
	<img src="/assets/angular-logo.png">
	<h1 class="header-title">Voting App</h1>
</header>
<main>
	<button class="reset" (click)="reset()">Reset</button>
	<section>
		<app-vote-widget (upVote)="upVote($event)" (downVote)="downVote($event)" [data]="data$|async" [title]="'Angular'"></app-vote-widget>
		<app-vote-widget (upVote)="upVote($event)" (downVote)="downVote($event)" [data]="data$|async" [title]="'Vue'"></app-vote-widget>
		<app-vote-widget (upVote)="upVote($event)" (downVote)="downVote($event)" [data]="data$|async" [title]="'React'"></app-vote-widget>
	</section>
	<section>
		<app-chart [data]="data$ | async"></app-chart>
	</section>
</main>